body{
  background-image: url("http://www.niemanlab.org/images/wikipedia-logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.srchIcon{
    color: blue;
    cursor: pointer;
  }
  
  #searchTerm{
    background-color: rgb(207, 205, 202);
    border: black solid 3px;
    border-radius: 25px;
  }
  .btn{
    margin: 10px;
    border: black solid 2px;
  }
  .container{
    background-color: white;
    border: black solid 1px;
    border-radius: 25px;
    margin: 3px;
    opacity: .9;
  }
  .container:hover{
    background-color: rgb(207, 205, 202);
    border: black solid 3px;
    border-radius: 25px;
  }
  .row{
    text-align: center;
  }